<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odontologo</title>
</head>
<body>
    <div class="nav">
        <a href="../../index.html">Home</a>
        <a href="../../paciente/template/paciente.html">Paciente</a>
        <a href="odontologo.html">Odontologo</a>
        <a href="../../turno/template/turno.html">Turno</a>
    </div>
        <h1>Odontologos</h1>

        <button id="createOdontologoBTN">Crear Odontologo</button>
        <button id="readOdontologoBTN">Buscar Datos Odontologos</button>
        <button id="updateOdontologoBTN">Modificar Odontologo</button>
        <button id="deleteOdontologoBTN">Borrar Odontologo</button>

        <!--FORM CREATE-->
        <form id="odontologo-create-form" style="display: none;">
            <h2>Cargar Paciente</h2>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br>
    
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required><br>
    
            <label for="matricula">Matricula:</label>
            <input type="text" id="matricula" name="matricula" required><br>
    
           
            <input type="submit" value="Enviar">
        </form>

        <!--FORM UPDATE-->
        <form id="give-id-form" style="display: none;">
            <label for="id">Suministrar ID:</label>
            <input type="text" id="id" name="id"><br>
            <button type="submit" id="send-id">Send ID</button>
        </form>

        <form id="odontologo-update-form" style="display: none;">
            <h2>Cargar Odontologo</h2>
            <label for="id">ID:</label>
            <input type="text" id="id-up" name="id" hidden><br>


            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre-up" name="nombre" required><br>
    
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido-up" name="apellido" required><br>
    
            <label for="matricula">Matricula:</label>
            <input type="text" id="matricula-up" name="matricula" required><br>
    
           
            <input id="modificar-odontologo-btn" type="submit" value="Modificar">
        </form>

        <!--FORM DELETE-->
        <form id="give-id-form-delete" style="display: none;">
            <label for="id">Suministrar ID:</label>
            <input type="text" id="give-id-delete" name="id" required><br>
            <button type="submit" id="send-delete-id">Send ID</button>
        </form>

        <div id="delete-div-response"></div>
        <button type="submit" id='delete-btn' hidden>Eliminar</button>        
        
    <script src="../statics/odontologo1.js"></script>
    <script src="../statics/odontologo2.js"></script>
    <script src="../statics/odontologo3.js"></script>
    <script src="../statics/odontologo4.js"></script>
    
</body>
</html>