<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Odontologica- Paciente</title>
</head>
<body>
    <div class="nav">
        <a href="../../index.html">Home</a>
        <a href="paciente.html">Paciente</a>
        <a href="../../odontologo/template/odontologo.html">Odontologo</a>
        <a href="../../turno/template/turno.html">Turno</a>
    </div>

    <h1>Turno</h1>

        <button id="turnoPacienteBTN">Crear Turno</button>
        <button id="readTurnoBTN">Buscar Datos Turno</button>
        <button id="updateTurnoBTN">Modificar Turno</button>
        <button id="deleteTurnoBTN">Borrar Turno</button>

        
        <!--FORM UPDATE-->
        <form id="give-id-form" style="display: none;">
            <label for="id">Suministrar ID:</label>
            <input type="text" id="id" name="id"><br>
            <button type="submit" id="send-id">Send ID</button>
        </form>

        <form id="turno-update-form" style="display: none;">
            <h2>Cargar Paciente</h2>
            <label for="id">ID:</label>
            <input type="text" id="id-up" name="id" hidden><br>

            <label for="nombre">Paciente:</label>
            <input type="text" id="nombre-up" name="nombre" disabled><br>
    
            <label for="apellido">Odontologo:</label>
            <input type="text" id="apellido-up" name="apellido" disabled><br>
    
            <label for="date">Fecha:</label>
            <input type="date" id="date-up" name="date" required><br>

            <label for="time">Fecha:</label>
            <input type="time" id="time-up" name="time" required><br>
                   
            <input id="modificar-btn" type="submit" value="Modificar">
        </form> 

        <!--FORM DELETE-->
        <form id="give-id-form-delete" style="display: none;">
            <label for="id">Suministrar ID:</label>
            <input type="text" id="give-id-delete" name="id" required><br>
            <button type="submit" id="send-delete-id">Send ID</button>
        </form>

        <div id="delete-div-response"></div>
        <button type="submit" id='delete-btn' hidden>Eliminar</button>        
        
    <script src="../statics/turno1.js"></script>
    <script src="../statics/turno2.js"></script>
    <script src="../statics/turno3.js"></script>
    <script src="../statics/turno4.js"></script>
    
</body>
</html>